{% extends 'core/base.html' %}

{%block title %} Acerca de {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}

<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Christian Albaladejo Carrasco</h2>
          <p>Soy un entusiasta de la informática y la programación, joven y apasionado por este mundo intentando aprender tanto como evoluciona este mundo.</p>
          <p>Siempre estudiando e intentando hacer mis propios proyectos.</p>
        </div>
    </div>
{% endblock %}
