{% extends 'core/base.html'%}
{% block title %} Contacto {% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}

{%block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
          <p>Puedes contactar conmigo y consultarme por tus problemas o por los de tu empresa.</p>
          <br>
          <p><b>Teléfono:</b> +34 603 421 431</p>
          <p><b>Honorarios:</b> 40€/h (precio base)</p>
    </div>
</div>
{% endblock %}